<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteBase /mymvc/
   RewriteRule ^media/(.*)$ media/$1 [L,PT]
   RewriteRule ^favicon.ico$ favicon.ico [L]
   RewriteRule ^test/(.+)$ loadTest.php?file=$1 [L]
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>